.logo img {
    height: 50px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo p{
    margin: auto;
    
}

ul {
    background: #000;
    list-style: none;
}

li a {
    color: #fff;
}
ul li{
    
display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#accueil {
    display: flex;
    width: 100%;

}

.acceuilp {
    width: 70%;
}

.droite {
    background-color: rgb(147, 147, 147);
    width: 30%;
}

.promotion img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .droite{
        display: none;
    }
    ul li{
        display: list-item;
    }
    body{
        font-size: small;  
     }

    
}