.logo img{
    height: 50px;
    width:auto; 
}

/* .logo p{
    flex-wrap: nowrap;
    
} */

ul{
    background: #000;
    list-style: none;
    
}
li a{
    color: #fff;
    text-decoration: none;
}
#accueil{
    display: flex;
    width: 100%;
}
.acceuilp{
    
    width: 70%;
}

.droite {
    background-color: rgb(147, 147, 147);
    
    width: 30%;
    
}